{% extends "base.html" %}
{% block title %}AI Fairness Toolkit - People{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8">
        function github() {
            location = "https://github.ibm.com/samya/samya-bias-toolbox";
        }
        $(document).ready(function() {
            $( ".card" ).hover(
            function() {
                $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
            }, function() {
                $(this).removeClass('shadow-lg');
            })
        });
    </script>
{% endblock %}
{% block content %}

<!-- ****************** navbar ****************** -->
<nav class="navbar sticky-top navbar-expand-md navbar-dark mr-auto">
    <span class="navbar-brand d-flex flex-fill" aria-label="breadcrumb"><a href="#">IBM Research Trusted AI</a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="font-size: larger">
        <ul class="navbar-nav justify-content-left d-flex flex-fill">
            <li class="nav-item inactive">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item inactive">
                <a class="nav-link" href="/data">Demo</a>
            </li>
            <li class="nav-item inactive">
                <a class="nav-link" href="/resources">Resources</a>
            </li>
             <li class="nav-item inactive">
                <a class="nav-link" href="/people">People</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Community</a>
            </li>
        </ul>
    </div>
</nav>
<br/>

<!-- ****************** top section ****************** -->
<div class="container-fluid top-section">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">IBM Research AI Fairness 360 Community</h1>
        </div>
    </div>
</div>
<br/>

<!-- ****************** main content  ****************** -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>The IBM Research AI Fairness 360 community will engage its users and developers in as many channels as we are able. Please find and subscribe to the ones that are right for you!</p>

            Media
The Apache OpenWhisk project is active on several content sharing and social media channels which aim to make it easier for users to get started, ask questions, stay informed and to interact with our community.

Icons that link to each of the following channels are located in the header of our website and include:

GitHub: Browse the source code, documentation and tests for all the repositories that make up our project component, deployment and tooling ecosystem.
Slack: Engage the OpenWhisk developer community directly in conversations across several topics.
Request an invitation
Medium: Read the latest blog posts on the OpenWhisk project including how-tos, use cases, architecture topics and more.
Twitter: Follow for the latest news from the OpenWhisk ecosystem.
YouTube: See demos of OpenWhisk in action as well as recordings of community meetings and events.
Stack Overflow: Ask questions and find answers about how to use OpenWhisk.
SlideShare: Look over slides from many of the presentations from past events.
If you wish to engage our community's Contributors and Committers around project architecture, design and source code, please subscribe to and participate in our developer mailing list as described below.

Mailing Lists

How to join the Apache OpenWhisk mailing list
The Dev Mailing List is where we discuss the development of Apache OpenWhisk. It is not a place for technical support; if you're looking for help on the project, please try our Documentation page and engage with us on one of the Social Media channels listed above.

To subscribe, unsubscribe or post our developer list, send an email message to one of the following addresses:

Subscribe: dev-subscribe@openwhisk.incubator.apache.org
Unsubscribe: dev-unsubscribe@openwhisk.incubator.apache.org
Post (new topic): dev@openwhisk.incubator.apache.org
To comment on a thread, simply reply to the message with the same subject text.

NOTE: Make sure you add a subject line to the subscribe/unsubscribe messages. Empty emails are ignored.

To see existing messages, https://lists.apache.org/list.html?dev@openwhisk.apache.org.

Project Wiki
The project maintains a Confluence Wiki site that provides the community a place to share their thoughts about and collaborate around any aspect of the project; whether it's about the platform architecture, an existing or planned feature or about its use cases and integrations. Examples include:

How to contribute?
How do I become a Contributor or Committer?
Proposals (Design)
Meeting Notes and Transcripts
Processes
Project Status


        </div>
    </div>
    <br/>
</div>      

{% endblock %}
